/*BODY*/



input#email {
  font-family: var(--mainFont);
  padding: 10px 15px 10px 15px;
}

.highlight-text {
  font-size: 20px;
  color: grey;
}

.imagen-maquetacion {
  background-color: lightgreen;
  border-style: solid;
  border-color: black;
  height: 500px;
}

.my-cards {
  display: flex;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  margin: 20px;
  height: 200px;
  width: 200px;
  flex-direction: column;
  border-radius: 3%;
  
}

.my-cards:hover, .my-cards-selected {
  background-color: #000;
  color: #fff;
}

div .mycards > .bi {
  margin-bottom: 50px;
}

.hightlighed-links {
  color: var(--mainColor);
  font-weight: 700;
  text-decoration:underline
}

.hightlighed-links:hover {
  color: var(--secondaryColor);
}

.circle-number {
  background-color: var(--mainColor);
  display: inline;
  padding: 20px;
  border-radius: 50%;
  color: #fff;
  font-weight: 700;
  height: 50px;
  width: 50px;
}

.steps-card {
  height: auto;
  width: 300px;
  margin: 10px;
  padding: 50px 5px 50px 5px;
}

.steps-card h3 {
  padding-top: 35px;
  padding-bottom: 35px;
}


.carousel-control-next-icon,.carousel-control-prev-icon, .carrousel-control-prev, .carrousel-control-next{
  color: #000 !important;
  font-size: 0.5em;
  background-color: var(--mainColor);
  opacity: 1;
}

.testimonial-user {
  border-radius: 50%;
  border: 2px solid var(--secondaryColor);
}