@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

:root {
    --mainFont:'Space Grotesk', sans-serif;
    --mainColor: #6e24ff;
    --secondaryColor: #342c7c;
    --auxiliarColor: #388452;
    --textColor: #211222;
    --auxiliarTextColor: #404040;
    --backgroundColor: #f7f5ff;
    --heroColor: #f9f9f9;
    
}

.inactive {
  display: none;
}

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


/*HEADER*/
header button {
  margin-left: 12px;
  margin-right: 12px;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

nav ul li {
  font-family: var(--mainFont);
  font-weight: 600;
  margin-right: 30px;
  margin-left: 30px;
  color: var(--textColor);
  
}

nav ul li a {
  text-decoration: none;
  color: var(--textColor);
}
nav ul li a:hover {
  color: var(--mainColor);
}



section {
  padding-bottom: 5rem;
}

h1, h2, h3, p {
  font-family: var(--mainFont);
}

h1{
  font-size: 60px;
  font-weight: 600;
}


h2{
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 2rem;
}

p {
  font-family: var(--mainFont);
  font-size: 1.1rem;
}

li {
  font-family: var(--mainFont);
}

a{
  color: inherit;
  text-decoration: none;
}

b{
  color: #6e24ff;
}

form input {
  font-family: var(--mainFont);
  padding: 0 15px;
  height: 50px;
}

/* form input + button {
  height: 50px;
  background-color: transparent;
  background-color: aqua;
} */

.highlight-text {
font-size: 20px;
color: grey;
}
