.layout {
  /* width: 60vw; */
  height: 500px;
  border: 5px solid #000;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  background-color: grey;

}

.layout p  {
  text-align: center;
}

.circle {
  background-color: var(--mainColor);
  border-radius: 50%;
  height: 200px;
  width:  200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle p {
  font-size: 2.5rem;
  color: #fff;
  margin: 0;
}

.circle-div {
  position: relative;
}

.statistic-layout {
  background-color: #fff;
  background-color: aquamarine;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 30px;
  /* align-items: flex-end; */
}

.statistic-header {
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.statistic-header p {
  margin-bottom: 0;
}

.statistic-header p:first-of-type {
  text-align: left;
  font-weight: 500;
  font-size: 25px;
  color: inherit;
  margin-bottom: 0;
}
.statistic-header p:last-of-type{
  text-align: left;
  font-weight: 500;
  font-size: 18px;
  color: var(--auxiliarTextColor);
  margin-bottom: 0;
}

.statistic-body {
  background-color: yellowgreen;
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.circle-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.statistic-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: yellow;
}

.legend-layout{
  display: flex;
  margin-top: 1rem;
}

.legend-color-container {
  display: flex;
  justify-content: flex-start;
}

.legend-color {
  background-color: var(--mainColor);
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin-right: 15px;
  margin-top: 5px;
}

.legend-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.legend-text p:first-of-type{
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 0;

}
.legend-text p:last-of-type{
  font-size: 10px;
  font-weight: 400;
  color: var(--auxiliarTextColor);
}


/*  menu lateral*/
.nav-bar {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.tab-button {
  background-color: #fff;
  display: flex;
  color: grey;
  align-items: center;
  padding: 5px;
  cursor: pointer;
  margin: 10px 0;
}

.tab-button:hover {
  background-color: #f1eaff;
  color: var(--mainColor);
}

.tab-button p {
  margin-bottom: 0;
  padding-left: 10px;
}

.tab-button-title {
  font-size: 14px;
}